@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.begin {
    padding: 100px 0;

    &-header {
        width: 40%;

        h1 {
            width: 80%;
        }
    }

    &-text {
        width: 50%;
        line-height: 30.6px;

        p {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width:$sm){
    .begin{
        flex-direction: column !important;
        text-align: center;
        &-header{
            width: 100% !important;

            h1{
                width: 100%;
            }
        }

        &-text{
            width: 100% !important;
        }
    }
}