@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;


.bg {
    background-color: $footerbackground ;
    padding: 100px 0;

    .contact {
        &-images {
            width: 50%;

            img {
                object-fit: cover;
                width: 50%;
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &-content {
            width: 45%;

            &-header {
                margin-bottom: 20px;
            }

            &-text {
                line-height: 170%;
                margin-bottom: 30px;
            }

        }
    }
}

@media screen and (max-width:$sm){
    .contact{
        flex-direction: column-reverse !important;
        text-align: center;
        &-images{
            width: 100% !important;
        }

        &-content{
            width: 100% !important;
            margin-bottom: 30px;
        }
    }
}