@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.hero {
    &-image {
        z-index: -1;
    }

    &-search {

        //hiyerarşi yanlış
        &-container {
            z-index: 9;
        }

        margin-top: -100px;
        margin-right: -100px;

        &__item {
            border-left: .2px solid gray;

            &:last-child {
                border: 4px solid white;
            }

            select {
                font-size: 12px;
                padding: 10px;
            }
        }
    }
}