@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;
.popular-component {
    padding: 50px 0;
    background-color: lighten($black, 8%);
    background-image: url('~/assets/images/popularbackground.png');
    background-size: cover;

    .popular-residence{
    }

}