@use '../variables/reset' as *;
@use '../variables/variables' as *;

.begin {
    padding: 100px 0;

    &-header {
        width: 40%;

        h1 {
            width: 80%;
        }
    }

    &-text {
        width: 50%;
        line-height: 30.6px;

        p {
            margin-bottom: 30px;
        }
    }
}