@use '../variables/reset' as *;
@use '../variables/variables' as *;


.opportunities {
    padding: 100px 0;

    &-header {
        margin-bottom: 50px;

    }

    &-content {
        margin-bottom: 70px;
        &-item {
            width: 30%;
            text-align: center;
            margin-bottom: 100px;
            &-logo {
                border-radius: 50%;
                background-color: darken($thirdcolor, 25%);
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 50px;
            }
        }

    }
}

@media screen and (max-width:$sm){
    .opportunities-content{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        &-item{
            width: 100%;
            margin-bottom: 30px;
        }
    }
}