@use '../variables/reset' as *;
@use '../variables/variables' as *;



.text-slider {
    width: 60%;
    margin: auto;
    margin-top: 120px;
    position: relative;
}

.quote {
    font-size: 260px;
    font-family: 'Work Sans', sans-serif;
    color: $thirdcolor;
    position: absolute;
    left: 0;
    bottom: 10%;

}

.carousel-control-prev {
    margin-left: 68%;
    margin-bottom: -20px;
}

.carousel-control-next {
    margin-bottom: -20px;
}

.carousel-control-prev-icon {
    position: absolute !important;
    bottom: 0;
    right: 0;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 0;
    left: 0;
}

.carousel {
    position: relative;

    &-inner {
        height: 30vh;
    }
}

@media screen and (max-width:$sm){
    .text-slider{
        width: 80%;
    }

    .carousel-inner{
        height: 50vh;
    }

    .quote{
        bottom: 40%;
    }
}
