@use '../variables/reset' as *;
@use '../variables/variables' as *;


.swiper {
    min-height: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    &-button-next,
    &-button-prev {
        &::after {
            color: $thirdcolor;
        }
    }
}

.swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
}

.slider-content {
    height: 100%;
    width: 100%;

    .oneslide {

        &-img {
            height: 70%;
            width: 100%;
            margin-bottom: 20px;
        }


        &-icons {

            .cont {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

}

@media screen and (max-width:$sm) {
    .swiper-button-prev-unique,
    .swiper-button-next-unique {
        display: none;
    }
}