@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.container {
    width: 94%;
}

.advertcard {
    width: 30%;
    margin: 30px 10px;
    box-shadow: 4px 4px 6px 1px darken($extralightblack, 10%);
    border-radius: 20px;

    &:hover {
        background-color: $extralightblack;
    }

    &-img {
        width: 100%;
        height: 40vh;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        &-content {
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    &-title {
        margin: 10px 0;

        &-text {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-price {
        &-text {
            font-size: 20px;
            margin: 0;
        }
    }

    &-features {
        display: flex;
        width: 100%;
        margin-bottom: 8px;
        justify-content: space-between;

        &-item {
            &-icon {
                width: 10px;
            }

            &-text {
                font-size: 10px;
            }
        }
    }

    &-location {
        margin-bottom: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-icon {
            width: 12px;
        }

        &-text {
            font-size: 10px;
        }
    }
}