@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.footer {
    a {
        color: $darkenhoverwhite;

        &:hover {
            color: $white;
        }
    }

    margin-bottom: 0;
    background-color: $footerbackground;
    font-size: 14px;

    &-brand {

        h1 {
            position: relative;
            z-index: 9;

            span {
                position: absolute;
                display: inline-block;
                z-index: -1;
                width: 33px;
                height: 33px;
                bottom: 18px;
                left: -12px;
                background-color: $thirdcolor;

            }
        }

        &-social {
            &__link {
                font-size: 26px;
                margin-right: 10px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }


    &-bottom {
        padding: 20px 0;
        border-top: 1px solid #303A44;
    }

}

@media screen and (max-width:$sm) {}