@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;


.icon-features {
    background-color: transparent;
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    justify-content: space-between;

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &-icon {
            width: 14px;
            margin-right: 4px;
        }

        &-text {
            font-size: 10px;
        }
    }
}

.icon{
    path{
        color: $thirdcolor;
    }
}