@use '/assets/scss/variables/variables' as *;

nav {
    padding: 30px 0;
    position: relative;

    .nav {
        &-logo {
            position: relative;

            span {
                position: absolute;
                display: inline-block;
                z-index: -1;
                bottom: 20px;
                left: -16px;
                width: 33px;
                height: 33px;
                background-color: $thirdcolor;
            }

            a {
                font-size: 30px;
                color: $white;
                display: inline-block;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &-menu {
            ul {
                li {
                    margin-right: 12px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        &-buttons {
            &__dashboard {
                margin-right: 10px;
            }
        }
    }

}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;

    .bar {
        width: 35px;
        height: 3px;
        background-color: $thirdcolor;
        margin: 6px 0;
        transition: 0.4s ease all;
    }
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    transform: scale(0);
    position: absolute;
    top: 110px;
    left: 5%;
    width: 90%;
    z-index: 9999;
    text-align: center;

    li {
        margin-top: 8px;
    }

}

.mb {
    margin-bottom: 300px;
}

@media screen and (max-width: $md) {

    .nav-menu,
    .nav-buttons {
        display: none !important;
    }

    #hamburger-icon {
        display: block;
    }

}