@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.profile-nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 30px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    .userlink {
        font-size: 16px;

        svg{
            width: 20px;
            height: 20px;
        }

        &:hover,&:focus{
            opacity: 1;
            path,p{
                color: $thirdcolor;
            }
        }


        &:first-child{
            font-size: 28px !important;
            margin-bottom: 30px;
            opacity: 1;
            svg{
                width: 32px;
                height: 32px;
            }
            path{
                color:$thirdcolor;
            }
        }

    }

    &-brand {

    }

}