@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.profile-nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 30px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;

    &-brand-container {
        width: 90%;

        &-brand {
            .iconlink-icon {
                width: 42px !important;
                height: 42px !important;

                path {
                    color: $thirdcolor  !important;
                }
            }

            .iconlink-text {
                font-size: 32px;
            }
        }
    }

    &-links-container {
        width: 90%;

        .iconlink {
            width: 100%;
            opacity: .7;

            &:hover,
            &:focus {
                opacity: 1;

                path,
                p {
                    color: $thirdcolor;
                }
            }

            &-icon {
                width: 20px;
                height: 20px;
            }

            &-text {
                width: calc(100% - 20px);
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .profile-nav {
        width: 15%;
        align-items: center;

        &-brand-container {
            .iconlink-icon {
                width: 30px !important;
                height: 30px !important;
            }
        }

        &-links-container {
            .iconlink {
                justify-content: center;
            }
        }

        .iconlink {
            &-icon {
                margin: 10px 0
            }

            &-text {
                display: none;
            }
        }
    }
}