@use '/assets/scss/components/common/profilenavbar' as *;
@use '/assets/scss/components/profile/propertydetail' as *;
@use '/assets/scss/components/profile/profilesearch' as *;
@use '/assets/scss/components/profile/profileheader' as *;
@use '/assets/scss/components/profile/profilefavadvert' as *;
@use '/assets/scss/components/profile/profilepropertyinfo' as *;
@use '/assets/scss/components/profile/profiledetailuser' as *;

@use '/assets/scss/variables/variables' as *;

.dashboard{
    width: 80%;
    &-content{
        width: 72%;
        background-color: lighten($black, 3%);
    }
}
