@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.newproperty {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: $backgroundblack;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-container {

        &-item {
            background-color: $lightblack;
            height: 50vh;
            width: 30%;
            padding: 15px;
            border-radius: 10px;
        }
    }
}

.button-container {
    margin-bottom: 10px;

    button {
        width: 100%;
        background: transparent;
        padding: 10px;
        border-radius: 10px;

        &:hover,
        &:focus {
            outline: solid 1px;
            background-color: $extralightblack
        }
    }


}

.clickedButton {
    outline: solid 1px;
    background-color: lighten($black, 9%);
}

@media screen and (max-width:$sm) {
    .newproperty {
        width: 100%;
        &-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;

            &-item {
                height: 30vh;
                width: 70%;
                margin: 20px 0;
            }
        }
    }
}