@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.newproperty-item {
    height: 30vh;
    padding: 15px;
    border-radius: 10px;

    &-button-container {
        button {
            width: 100%;
            background: transparent;
            padding: 10px;
            border-radius: 10px;
            word-wrap: break-word;

            &:hover,
            &:focus {
                outline: solid 1px;
                background-color: $extralightblack
            }
        }
    }
}

.clickedButton {
    outline: solid 1px;
    background-color: lighten($black, 9%);
}