@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;


.slider {
    position: relative;
}

.op-slider {
    width: 60%;
}

.swiper1 {
    position: relative;
    height: 40vh;
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 90%;
        color: $thirdcolor;
    }

    .swiper-button-prev {
        left: 85%;
    }

    .swiper-button-next {
        right: 3%;
    }
}


.quote {
    font-size: 200px;
    font-family: 'Work Sans', sans-serif;
    color: $thirdcolor;
    margin-bottom: 0 !important;
    position: absolute;
    top: -130px;
    left: 80px;
}

@media screen and (max-width:$sm) {
    .quote {
        left: 50px;
    }

    .op-slider {
        width: 90%;
    }

    .swiper {

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }

}