@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;


.slider {
    position: relative;
}

.op-slider {
    width: 60%;
}

.swiper1 {
    position: relative;

    .swiper-button-prev {
        position: absolute;
        top: 80%;
        left: 85%;
    }

    .swiper-button-next {
        position: absolute;
        top: 80%;
        right: 3%;
    }
}


.quote {
    font-size: 260px;
    font-family: 'Work Sans', sans-serif;
    color: $thirdcolor;
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 70px;
}

@media screen and (max-width:$sm) {
    .quote {
        bottom: 40%;
    }

    .op-slider{
        width: 90%;
    }

    .swiper {

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }

}