@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;


.swiper {
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.slider-content {
    width: 84%;
    height: 90%;
    align-items: stretch;
    justify-content: between;

    .oneslide {
        &-img {
            height: 40%;
            width: 100%;
            margin-bottom: 5px;
            border-radius: 14px;
        }

        &-content {
            width: 100%;
            border: 1px solid red;

            &-header {
                h5 {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &-location {
                p {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        &-icons {
            .cont {
                margin-right: 14px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        p {
            margin: 0;
            padding: 0;
        }


    }

}

@media screen and (max-width:$sm) {

    .swiper-button-prev-unique,
    .swiper-button-next-unique {
        display: none;
    }
}


.swiper2 {
    position: relative;
}

.swiper-button-prev-unique,
.swiper-button-next-unique {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    z-index: 999999;

    svg {
        font-size: 30px;
    }
}

.swiper-button-prev-unique {
    left: -2.5%
}

.swiper-button-next-unique {
    right: -5%
}