@use '../variables/variables' as *;

* {
    color: $white;
    transition: .4s ease all;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    font-family: 'Poppins', sans-serif;
}

a {
    color: $hoverwhite;
    text-decoration: none !important;

    &:hover {
        color: $white;

    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 126%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 14px;
    line-height: 1.75;
    // margin: 0;
}

@media screen and (max-width:$sm) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }
}

button {
    background-color: $thirdcolor;
    padding: 18px 26px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.common-input {
    background-color: $extralightblack;
    color: $white;
    border-radius: 8px;
    padding: 12px 10px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $white;
        // opacity: .8;
    }

}

.edit {
    background-color: $darkthirdcolor;

    &:hover {
        background-color: $thirdcolor;
    }
}

.delete {
    background-color: $darkred;

    &:hover {
        background-color: $red;
    }
}

.nav-button {
    background-color: $thirdcolor;
    padding: 10px 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.nuxtlink {
    @extend button
}

ul{
    width: 100%;
    margin: 0 !important;
    li{
        list-style-type: none;
        list-style-position: outside;
    }
}