@use '../variables/variables' as *;

* {
    color: $white;
    transition: .4s ease all;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    font-family: 'Poppins', sans-serif;
}

a {
    color: $hoverwhite;
    text-decoration: none !important;

    &:hover {
        color: $white;

    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 126%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 14px;
    line-height: 1.75;
}

@media screen and (max-width:$sm){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 26px;
    }
}

button {
    background-color: $thirdcolor;
    padding: 18px 26px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

input,select,option{
    color: $black;
}

.nav-button {
    background-color: $thirdcolor;
    padding: 10px 12px;
}


.nuxtlink{
    @extend button
}
