$white: #FFFFFF;
$hoverwhite: #CCCCCC;
$black: #121B25;
$backgroundblack:lighten($black,3%);
$lightblack:lighten($black, 5%);
$extralightblack:lighten($black,9%);
$thirdcolor: #1AA090;
$footerbackground: #1A242F;

$md:999px;
$sm:776px;
$xs:550px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');


