@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.search {
    width: 100%;

    &-content {
        &-container {
            width: 100%;
            margin-bottom: 10px;

            &-input {
                @extend .common-input;
                width: 100%;
            }
        }
    }
}