@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;


.features {
    background-color: $lightblack;
    width: 100%;

    &-inputs {
        .multiple-image {
            display: flex;
            justify-content: center;

            .add-image-svg {
                fill: $white  !important;
            }
        }

        &-defaults {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input-group {
                margin: 8px 0;

                label {
                    font-size: 10px;
                    margin-bottom: -10px;
                    background-color: $extralightblack;
                    padding: 6px;
                    border-radius: 6px;
                    z-index: 99;
                }

                &-input {
                    width: 100%;
                    border: 1px solid white;
                    @extend .common-input;
                    border: none;
                }
            }
        }

        .description-container {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 16px;
            width: 100%;

            &-label {
                font-size: 24px;
                font-weight: bold;
                display: block;
                width: 100%;
            }

            &-input {
                min-height: 30vh;
                height: 30vh;
                max-height: 40vh;
                width: 100%;

                &::placeholder {
                    opacity: .5;
                }

                @extend .common-input;
            }

        }

        .b-container {
            margin-top: 20px;
            margin-bottom: 50px;

            &-button {
                width: 30%;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width:$sm) {
    .features {
        &-inputs {
            &-defaults {
                flex-direction: column;
                flex-wrap: nowrap;

                .input-group {
                    width: 100%;
                }
            }

            .b-container {
                &-button {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}