@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.header{
    width: 100%;
    padding-top: 30px;
    &-text{
        padding-top: 10px;
        opacity: .6;
    }
}