@use '/assets/scss/variables/reset' as *;
@use '/assets/scss/variables/variables' as *;

.dashboard-content-search {
    padding-top: 40px;

    &-group {

        &-text {
            padding: 0;
            margin: 0;
            opacity: .6;
        }

        &-input {
            border-radius: 8px;
            background-color: lighten($black, 7%);
            padding: 10px 20px;

            &-select {
                border: none;
                border-radius: 8px;
                background-color: inherit;
                outline: none;
                padding: 0 14px;
                color: $white;

                option {
                    background-color: inherit;
                    color: $white;
                }
            }
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 8px;
        }

        &-filtericon {
            background-color: lighten($black, 7%);
        }
    }
}